/* Reset CSS Code */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Custom Stylesheet */
/* Colors */
:root {
    --airblue: #68A5BF;
    --yellow: #f7eb12;
    --ochre: #C97016;
    --engineering: #B80C09;
    --brown: #614B3F;
    --lightgreen: #9AB87A;
    --ferngreen: #5B8246;
    --almond: #f5efeb;
    --text-shadow: #67676799;
}

* {
    font-family: 'Playpen Sans', 'Familjen Grotesk', 'Sans Serif';
}

body {
    background-color: var(--almond);
}

/* Header and Title */
header {
    background-color: var(--ferngreen);
    border: var(--ochre) solid 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search {
    background-color: var(--lightgreen);
    border-radius: 10px;
    border: var(--brown) 7px double;
    box-shadow: 2px 2px 4px black;
}

#search-input {
    width: 100%;
    height: 20%;
    border-radius: 5px;
}


h1,
h2 {
    font-family: 'Tilt Prism';
    color: var(--yellow);
    margin-left: 40px;
    padding: 15px;
    text-shadow: 4px 4px 2px black;
}

h2 {
    margin-left: 75px;
}

/* Main */
/* Search and Recent Div */

.container {
    margin-top: 20px;
}

.custom-park-info {
    border: var(--brown) dotted 6px;
    border-radius: 15px;
}

/* Footer */

footer {
    display: block;
    text-align: center;
    background-color: var(--ferngreen);
    border: var(--ochre) solid 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h3 {
    font-family: 'Tilt Prism';
    color: var(--yellow);
    text-shadow: 4px 4px 2px black;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#gallery img {
    margin: 5px;
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4)
}

p {
    margin: 5px;
}

.img-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

#gallery img {
    margin: 5px;
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4)
}

.citing {
    display: inline-flex;
    position: absolute;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 10px;
    background-color: var(--ferngreen);
    border-radius: 2px;
    color: var(--brown);
    box-shadow: 2px 2px 4px 2px rgb(0,0,0, .5);
}

.park-name {

}